@import url(https://fonts.googleapis.com/css?family=Raleway);
body{
    font-family: helvetica, arial, sans-serif;
	font-size:1em;
}
.container{
    width:1200px;	
    margin:auto;
}
.sidebar{
    padding: 20px;
    margin-top: 35px;
    border: 5px solid #2c3546;
    border-radius: 10px;
    flex:0 0 200px;
}
header{
    background-color: #507ed4;	
    border-radius: 8px;
    display:flex;
    justify-content: right;
}
nav li a{
    text-decoration: none;	
    color: #e0dbdb;	
}
nav li a:hover{
    color: #e75a9c;	
}
nav ul li{	
    display:inline;
    padding-left:10px;
    padding-right:10px;
    border-left:1px solid #7E8AA2;
}
nav li:first-child{
    border-left:none;	
}
h1, h2{
    font-family: 'Raleway', sans-serif;
}
header h1 a{
    color:#fff;
    text-decoration: none;
}
header h1 a:hover{
    text-decoration: underline;
}
#logo{
    padding:10px;
}
main{
    display:flex;
    gap: 15px;
    
}
.resize-img{
    width:100%;
    height:100%;
}